<<<<<<< HEAD
body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background: linear-gradient(135deg, #1e1e2f, #2c3e50);
    color: #fff;
    text-align: center;
    margin: 0;
    padding: 0;
}

.container {
    margin-top: 100px;
    background: #ffffff10;
    backdrop-filter: blur(10px);
    padding: 30px;
    border-radius: 15px;
    width: 350px;
    margin-left: auto;
    margin-right: auto;
    box-shadow: 0 8px 25px rgba(0,0,0,0.3);
}

h2 {
    margin-bottom: 20px;
}

input {
    margin: 15px 0;
    padding: 10px;
    border-radius: 8px;
    border: none;
    width: 90%;
}

button {
    padding: 10px 20px;
    border: none;
    border-radius: 10px;
    background: #00c6ff;
    background: linear-gradient(to right, #0072ff, #00c6ff);
    color: white;
    font-weight: bold;
    cursor: pointer;
    transition: 0.3s;
}

button:hover {
    transform: scale(1.05);
    opacity: 0.9;
}

#output {
    margin-top: 20px;
    font-size: 18px;
}

.score {
    font-size: 24px;
    font-weight: bold;
    color: #00ffcc;
=======
body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background: linear-gradient(135deg, #1e1e2f, #2c3e50);
    color: #fff;
    text-align: center;
    margin: 0;
    padding: 0;
}

.container {
    margin-top: 100px;
    background: #ffffff10;
    backdrop-filter: blur(10px);
    padding: 30px;
    border-radius: 15px;
    width: 350px;
    margin-left: auto;
    margin-right: auto;
    box-shadow: 0 8px 25px rgba(0,0,0,0.3);
}

h2 {
    margin-bottom: 20px;
}

input {
    margin: 15px 0;
    padding: 10px;
    border-radius: 8px;
    border: none;
    width: 90%;
}

button {
    padding: 10px 20px;
    border: none;
    border-radius: 10px;
    background: #00c6ff;
    background: linear-gradient(to right, #0072ff, #00c6ff);
    color: white;
    font-weight: bold;
    cursor: pointer;
    transition: 0.3s;
}

button:hover {
    transform: scale(1.05);
    opacity: 0.9;
}

#output {
    margin-top: 20px;
    font-size: 18px;
}

.score {
    font-size: 24px;
    font-weight: bold;
    color: #00ffcc;
>>>>>>> c5724ffd55f1a5ef696c423817ad4b18f8da444b
}   #